/* style each card */

.container img {

  width: 100%;
}
.container {
  margin: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(189, 189, 189);
  height: 350px;
  width: 240px;
}

.container h3 {
  color: gray;
  margin: 10px 20px 20px;
  font-size: 1rem;
}
.container p {
  margin: 0 25px 20px;
  color: aliceblue;
  background-color: rgba(193, 141, 92, 0.543);
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
}
@media (max-width: 650px) {
  .container {
    height: 200px;
    width: 130px;
    padding: 0;
    margin: 10px;
  }

  .container img {
    width: 100%;
  }
  .container h3 {
    font-size: 8px;
    margin: 10px 10px 10px;
  }
  .container p {
    font-size: 8px;
    margin: 15px 10px;
    color: aliceblue;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
  }
}
