.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #F3F4F4;
}

.formContainer {
    border: 1px solid silver;
    width: fit-content;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    height: fit-content;
    background-color: #fff;
}

.header { 
    text-align: left;
    margin-bottom: 40px;
    font-size: 1.8rem;
    color: #E08B2F;
}




.formButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formButtons button {
    background-color: #E08B2F;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    transition: all 0.1s ease-in;
    cursor: pointer;
    margin: 10px;
}
.formButtons button:hover{
    background-color: #ad6e2b;
}

.formButtons a{
    color:#E08B2F;
    text-decoration: none;
    transition: all 0.1s ease-in;
    font-weight: bold;
}
.formButtons a:hover{
    color:#ad6e2b;
}
.disable{
    opacity: 40%;
}
.enable{
    opacity: 100%;
}
@media (max-width: 650px) {
    .formContainer{
        padding:  20px;
        margin: 50px 20px;
        width: 80%;
    }
    .formInput{
        width: 90%;
    }
    .uncompleted{
        width: 90%;
    }

  }